<log4net>
  <root>
    <appender-ref ref="Errors.file" />
    <appender-ref ref="All.file" />
  </root>
  <appender name="All.file" type="log4net.Appender.RollingFileAppender">
    <file value="logs\Sureal.Auth.Api.log"  />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="Errors.file" type="log4net.Appender.RollingFileAppender">
    <file value="logs\Sureal.Auth.error.Api.log"  />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
    <threshold value="Error" />
  </appender>
</log4net>